@media (max-width: 500px) {
    .logo {
        font-size: 1em;
    }
    .nav ul a {
        font-size: 0.9em;
        padding: 0 0.7em;
    }
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white url('images/background2.jpeg');
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.background-text {
    color: white;
    text-align: center;
}

.background-text h1 {
    font-size: 2em;
}

.background-text p {
    font-size: 0.9em;
}

.background-text h4 {
    font-weight: lighter;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em 2em 0 2em;
    margin-bottom: 2em;
}

.social-media { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media img {
    height: 40px;
    padding: 0 1em 0 1em;
}

